/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ui "statm.dev.npceditor.ui.*";

s|Application 
{
	fontFamily: "Microsoft YaHei";
	backgroundColor: #EFEFEF;
}
ui|MetroChromeWindowedApplication
{
	skinClass:ClassReference("statm.dev.npceditor.ui.skins.MetroChromeWindowedApplicationSkin");
}
s|Button
{
	skinClass:ClassReference("statm.dev.npceditor.ui.skins.MetroButtonSkin");
}