/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace ui "statm.dev.imageresourceviewer.ui.*";

s|Application 
{
	fontFamily: "Microsoft YaHei";
	fontSize: 15;
	backgroundColor: #EFEFEF;
}
s|WindowedApplication
{
	skinClass:ClassReference("statm.dev.imageresourceviewer.ui.skins.MetroChromeWindowedApplicationSkin");
}
s|Button
{
	skinClass:ClassReference("statm.dev.imageresourceviewer.ui.skins.MetroButtonSkin");
}
ui|DirectionButton
{
	skinClass:ClassReference("statm.dev.imageresourceviewer.ui.skins.DirectionButtonSkin");
}