/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application 
{
	fontFamily: "Microsoft YaHei";
	backgroundColor: #EFEFEF;
}
s|WindowedApplication
{
	skinClass:ClassReference("statm.dev.mapeditor.ui.skins.MetroChromeWindowedApplicationSkin");
}