/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ui "statm.dev.mapeditor.ui.*";

ui|MetroChromeWindowedApplication
{
	fontFamily: "Microsoft YaHei";
	skinClass:ClassReference("statm.dev.mapeditor.ui.skins.MetroChromeWindowedApplicationSkin");
}
s|Button
{
	skinClass:ClassReference("statm.dev.mapeditor.ui.skins.MetroButtonSkin");
}